

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.input-wrapper {
position: relative;
width: 100%;
height: 100%;
text-align: center;
}

#helloworld {
background-color: #F0F0F0;
position: relative;
top: 50%;
transform: translateY(-50%);
height: 25px;
width: 200px;
text-align: center;
}

::-moz-placeholder {
text-align: center;
}

/*Firefox*/
input:focus::-moz-placeholder {color: transparent;}
/*Chrome/Safari*/
input:focus::-webkit-input-placeholder {color: transparent;}

.height-measure{
    height: 50%;
    width: 50%;
}

.top{
    position: absolute;
    top: 0px;
}

.bottom{
    position: absolute;
    bottom: 0px;
}