

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="grid.css">

</head>


        <body>

            <div class='frame'>

                <div class='banner'>


                </div>


                <div class='master-grid'>

                    <div class='a master-item'>
                        A
                    </div>

                    <div class='b master-item'>
                        B
                    </div>

                    <div class='sub-grid master-item'>

                        <div class='c sub-item'>
                            C
                        </div>

                        <div class='d sub-item'>
                            D
                        </div>

                    </div>


                </div>

            </div>

</body>
            
</html>
