.red{
    background-color: red;
    height: 150px;
    width: 150px;
}

.yellow{
    background-color: yellow;
    height: 150px;
    width: 150px;
}

.blue{
    background-color: blue;
    height: 150px;
    width: 150px;
}


#relative-block > div{
    /*display: inline-block;*/
}

#relative-block > .yellow{
    position: relative;
    top: 5px;
    left: 150px;
}


#relative-inline > div{
    margin-top: 10px;
    display: inline-block;
}

#relative-inline > .red{
    position: relative;
    top: 10px;
    left: 10px;
}

#relative-inline > .blue{
    position: relative;
    top: 10px;
    right: 10px;
}


#second-div-padding{
    margin-top: 15px;
}

#absolute > .yellow{
    position: absolute;
    left: 140px;
    top: 800px;
}

#abs-rel-parent{
    position: relative;
}





#abs-rel-parent > .yellow{
    position: absolute;
    top: 5px;
    left: 140px;
}

#fixed{
    position: fixed;
    bottom: 2px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#fixed > .div{
    opacity: .5;
    height: 20px;
    width: 20px;
}
